@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#A2DEE0, #A2E0B8);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #8183f55d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #56afdf;
    text-shadow: 1px 1px 2px #529dc5;
}

h2 {
    color: #65a0c0;
}

p {
    text-align: justify;
}

